@import 'page_group';
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Inter Tight", sans-serif;
    background-color: #F3F3F3;
}
a {
    text-decoration: none;
}
ul{
    padding-left: 0;
}
li {
    list-style: none;
}
//nút bấm slider-----------------------------
.slick-arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    z-index: 1;
    width: 50px;
    height: 50px;
    border: 0;
    border-radius: 50%;
    background-color: rgb(16 15 15 / 30%);
    i{
    color: #fff;}
}
.slick-next{
    right: 0;
}
.slick-prev{
    left: 0;
}
//-------------------------------------------------

// -- --------------start header---------------
header {
    background-color: #fff;
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 999;
    .header-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 8px;
        @media(max-width: 760px){
            min-height: 80px;
        }
        .header-logo {
            img {
                width: 100%;
            }
        }
        .header-search {
            border: 2px solid #F2F2F2;
            border-radius: 40px;
            height: 50px;
            overflow: hidden;
            @media (max-width:760px){
                order: 3;
                height: 42px;
            }
            form {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                input {
                    outline: none;
                    border: none;
                    width: 70%;
                    background-color: transparent;
                    padding-left: 20px;
                    @media (max-width: 1120px){
                        font-size: 13px;
                    }
                }
                button{
                    width: 20%;
                    background-color: #292929;
                    color: #fff;
                    height: 100%;
                    border: none;
                    outline: none;
                    &:hover{
                        color: #EA4335;
                    }
                }
            }
        }
        .header-right{
            display: flex;
            align-items: center;
            flex-direction: row-reverse;
            .icon-menu {
                margin: 0 12px;
                color: #292929;
                padding: 4px 8px;
                position: relative;
                cursor: pointer;
                i {
                    color: #000;
                    font-size: 20px;
                    &:first-child {
                        margin-right: 8px;
                    }
                }
                span {
                    position: absolute;
                    top: -16px;
                    right:-10px;
                    background-color: #EA4335;
                    color: #fff;
                    padding: 3px 6px;
                    border-radius: 50%;
                    font-size: 8px;
                }
                &:hover {
                    color: #EA4335;
                    border-radius: 8px;
                    i {
                        color: #EA4335;
                    }
                }
            }
        }
        .had-user {
            text-transform: uppercase;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color:#EC407A ;
            display: flex !important;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            color: #fff !important;
            border: none;
        }
        #shopping-cart {
            font-size: 20px;
            color: #292929;
            width: 320px;
            .offcanvas-header {
                i{
                    font-size: 36px;
                    padding: 20px;
                    border-radius: 50%;
                    border: 1px solid #010103;
                    margin: 8px 8px;
                }
            }
            .offcanvas-body {
                padding: 2px;
                position: relative;
                .list-item {
                    height: 400px;
                    overflow: scroll;
                    .item {
                        width: 100%;
                        display: flex;
                        border-bottom: 1px solid #1e1e1e;
                        padding: 4px 0;
                        p {
                            margin: 0;
                            font-size: 16px;
                        }
                        img {
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                        }
                    }
                    .box-content {
                        flex: 1;
                        margin-left: 10px;
                        .btn {
                            padding: 4px 8px;
                            border: none;
                            outline: none;
                            font-weight: 700;
                        }
                        input {
                            width: 50px;
                            height: 20px;
                            outline: none;
                            text-align: center;
                            font-size: 14px;
                        }
                        .box-price {
                            display: flex;
                            align-items: center;
                            p {
                                font-size: 14px;
                                color: #000;
                                margin: 0;
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .box-bottom {
                  background-color: #010103;
                  padding: 8px 4px;
                  p {
                    color: #fff;
                    margin: 8px 16px 12px;
                    font-size: 14px;
                    span {
                        font-size: 18px;
                        margin-left: 8px;
                    }
                  }
                  .btn {
                    width: 100%;
                    padding: 2px;
                    text-align: center;
                    font-size: 20px;
                    text-transform: uppercase;
                    background-color: #F2F2F2;
                    border: 1px solid #666666;
                    &:hover {
                        background-color: #EA4335;
                        color: #fff;

                    }
                  }

                }
            }
         
        }
        #nav-mobile {
            width: 320px;
            .offcanvas-header{
                .icon-user{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 24px;
                    border: 1px solid #292929;
                    i{
                        color: #292929;
                    }
                }
                span {
                    margin-left: 32px;
                    font-size: 20px;
                    cursor: pointer;
                    &:hover{
                        color: #EA4335;
                    }
                }

            }
            .offcanvas-body {
                padding: 0;
                .offcanvas-menu{
                    li {
                        border-bottom: 1px solid #66667A;
                        padding:12px 0;
                        position: relative;
                        &>a{
                            color: #292929;
                            padding: 12px 16px;
                        }
                        .menu-collapse {
                            position: absolute;
                            right: 30px;
                            top: 3px;
                        }
                        &:hover{
                            background-color: #EA4335;
                            a{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            
        }

    }
    .nav {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #1e1e1e;
        height: 50px;
        .menu {
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            &>li{
                padding: 10px 16px;
                height: 50px;
                display: flex;
                align-items: center;
                position: relative;
                a{
                    color: #fff;
                }
                .subnav{
                    position: absolute;
                    top: 50px;
                    left: -10px;
                    background-color: #000;
                    display: none;
                    li{
                        min-width: 140px;
                        padding: 8px 12px;
                        &:hover{
                            background-color: #EA4335;
                        }

                    }  
                }
                &:hover{
                    border-bottom: 3px solid #EA4335;
                    &>a{
                        color: #FCA120;
                    }
                    &>.subnav{
                        display: block;
                    }
                }
                &.active {
                    background-color: #B69B6D;
                }
            }
        }
    }
}
// -- --------------end header-----------------
//---------------------start slider-----------------------
.slider{
    margin-top: 185px;
    width: 100%;
    height: 442px;
    @media(max-width:1200px){
        margin-top: 165px;
    }
    @media(max-width:992px){
        margin-top: 90px;
    }
    @media(max-width:776px){
        margin-top: 150px;
    }
    @media (max-width:540px) {
        height: 160px;
    }
    overflow: hidden;
    .image {
        height: 100%;
        img{
            width: 100%;
            object-fit: fill;
            aspect-ratio: 1224/442;
        }
    }    
}
//----------------------end slider-----------------------
//----------------------start section-1-----------------------
.section-element-support{
    margin-top: 40px;
    .list-item{
        display: flex;
        flex-wrap: wrap;
        .item{
            text-align: center;
            padding: 8px;
            @media(max-width:768.999px){
                padding: 4px 36px;
            }
            .box-content{
                padding-top: 12px;
            }
        }
    }
}

//----------------------end section-1-----------------------
//----------------------start section-2---------------------
.flash-sale{
    background-color: #f7f4f4;
    margin-bottom: 40px;
    .sale-head{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 12px;
        .head-left{
            display: flex;
            width: 40%;
            justify-content: center;
        }
        .head-right{
            display: flex;
            width: 50%;
            justify-content: space-between;
            .label-countdown{
                width: 40%;
                text-align: center;
                p{
                    margin-bottom: 2px;
                }
                span{
                    font-weight: 700;
                }
            }
            .time-countdown{
                display: flex;
                justify-content: space-evenly;
                flex: 1;
                .item{
                    width: 20%;
                    background-color: #FCA120;
                    font-size: 36px;
                    line-height: 0.6;
                    padding: 14px 8px;
                    text-align: center;
                    p{
                        margin-bottom: 0;
                        font-size: 36px;
                    }
                    span{
                        font-size: 14px;
                        margin-top: -20px;
                    }
                }
            }
        }
         @media (max-width:992px){
            flex-direction: column;
            justify-content: center;
            .head-left{
                width: 100%;
            }
            .head-right {
                width: 100%;
            }
        }
    }
    .sale-nav{
        display: flex;
        justify-content: space-between;
        text-align: center;
        background-color: #1e1e1e;
        border-radius: 50px;
        margin-bottom: 20px;
        .item{
            cursor: pointer;
            p{
                color: #fff;
                margin-bottom: 8px;
                padding: 4px;
                &:first-child{
                    font-size: 32px;
                }
            }
            &.active{
                background-color: #FCA120;
                border-radius: 50px;
            }  
            span{
                color: #fff;
            }   
        }
        @media (max-width: 768px){
            &{
                border-radius: 0;
                .item {
                    p {
                        font-size: 14px;
                        margin: 0 4px;
                        &:first-child {
                            font-size: 20px;
                        }
                    }
                    &.active {
                        border-radius: 0;
                    }
                    span {
                        line-height: 0.4;
                    }
                }
            }
        }
    }
    .list-item{
        background-color: #B69B6D;
        padding: 10px;
        .slick-arrow{
            margin: 0 8px;
        }
        .item{
            background-color: #F2F2F2;
            border: 1px solid #666666;
            padding: 4px;
            width: 350px !important;
            @media (max-width:1200px){
                width: 300px !important;
            }
            @media (max-width:768.999px){
                width: 250px !important;
            }
            @media (max-width: 540px){
                width: 100% !important;
            }
            img{
                width: 100%;
                height: 100%;
            }
            .title{
                font-size: 14px;
                margin-left: 4px;
            }
            h4{
                font-size: 20px;
                margin-left: 4px;
                margin-bottom: 4px;
                @media(max-width: 768px) {
                    font-size: 16px;
                }
            }
            .box-price{
                margin-left: 4px;
                .price-sale{
                    display: inline-block;
                    margin-right: 4px;
                    font-size: 18px;
                }
                .price-basic{
                    color: #666666;
                    text-decoration: line-through;
                    font-size: 14px;
                }
            }
            .list-button{
                display: flex;
                margin-top: 4px;
                button{
                    padding: 4px 8px;
                    flex: 1;
                    border: 1px solid #666666;
                    &:hover{
                        background-color: #EA4335;
                        color: #fff;
                    }
                }
                .btn-cart{
                    width: 20%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    i{
                        font-size: 20px;
                        &:hover{
                            color: #EA4335;
                        }
                    }
                }
            }
        }
    }
}
//----------------------end section-2-----------------------
//----------------------start footer-----------------------
footer{
    background-color: #010103;
    .list-items{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 24px;
        .item{
            h4{
                color: #F3F3F3;
                font-size: 20px;
            }
            .social-icons{
                display: flex;
                padding: 0;
                li{
                    padding: 8px;
                    margin-right: 20px;
                    i{
                        font-size: 20px;
                        color: #666666;
                    }
                }
            }
            .box-content{
                p{
                    font-size: 12px;
                    color: #666666;
                    margin-bottom: 8px;
                    padding-right:28px;
                    &:first-child{
                        font-weight: 800;
                        font-size: 14px;
                        margin: 2px;
                    }
                }
            }
            ul{
                li{
                    transition: 0.5s;
                    a{
                        color: #666666;
                        padding: 10px 0;
                        margin-bottom: 12px;
                    }
                    &:hover {
                        transform: translateX(24px);
                        transition: 0.5s;
                        a{
                            color: #EA4335;
                        }
                    }
                }
            }
            form{
                margin-bottom: 12px;
                p{
                    color: #666666;
                }
                .input{
                    background-color: #F3F3F3;
                    display: flex;
                    justify-content: space-between;
                    border-radius: 4px;
                    overflow: hidden;
                    input{
                        flex: 1;
                        border: none;
                        outline: none;
                        background-color: #F3F3F3;
                        padding: 8px 0 8px 4px;
                    }
                    button{
                        width: 30%;
                        font-size: 14px;
                        font-weight: 700;
                        border: none;
                        outline: none;
                        background-color: #FCA120;
                        padding:8px 10px;
                    }
                    @media(max-width:1200px){
                        input{
                            font-size: 14px;
                        }
                    }
                }
                
            }
            .payment{
                display: flex;
                //ngăn chặn hàng vi hover
                pointer-events: none;
                li{
                    width: 80px;
                    margin-right: 20px;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }
        @media((min-width:576px) and (max-width:992px)){
            .item:nth-child(4){
                order: 2;
            }
            .item:nth-child(2){
                margin-top: 20px;
                order:3
            }
            .item:nth-child(3){
                margin-top: 20px;
                order: 4;
            }
        }
    }
    .copy-right{
        text-align: center;
        font-size: 12px;
        background-color: #B69B6D;
        padding: 10px;
        a{
            text-decoration: underline;
            color: #010103;
        }
        p{
            margin-bottom: 4px;
        }
    }
    
}
//----------------------end footer-------------------------


// -- --------------start modal signin/ signup---------------
#modal-1 {
    .modal-dialog {
        border-radius: 8px;
    }
    .btn {
        padding: 10px 45px;
        text-transform: uppercase;
        margin-top: 10px;
        font-weight: 600;
        border: 1px solid;
        font-size: 12px;
        border-radius: 8px;
        &:hover{
            background-color: #EA4335;
            color: #F2F2F2;
        }
    }
    a{
        color: #EA4335;
    }
    .modal-content {
        overflow: hidden;
        border-radius: 30px;
        .btn-close{
            background-color: red;
            position: absolute;
            top: 8px; right: 8px;
            padding: 8px;
            z-index: 1;
        }
    }
    .form-wrapper {
        display: flex;
        justify-content: space-evenly;
        margin-top: 20px;
        @media (max-width:992px){
            .form-container {
                color: #292929;
                form {
                    .form-floating {
                        label {
                            color: #292929;
                        }
                    }
                }
            }

        }
    }
    .form-container {
        transition: 0.3s;
        form {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .form-floating{
                margin: 4px 0;
                width: 100%;
                .form-control {
                    width: 100%;
                }
            } 
        }
        .network-wrapper {
            display: flex;
            margin: 40px 0;
            p {
                font-size: 14px;
            }
            .social-icons {
                margin-left: 20px;
                a {
                    padding: 10px;
                    margin-right: 8px;
                    border-radius: 8px;
                    border: 1px solid;
                }
            }  
        }
    
    }
    .form-container {
        color: transparent;
        form {
            .form-floating {
                label {
                    color: transparent;
                    &:focus{
                        font-size: 10px;
                       
                    }
                }
                span {
                    font-size: 14px;
                    padding-left: 12px;
                    color: #EA4335;
                }
            }
        }
        &.active {
            color: #292929;
            form {
                .form-floating {
                    label {
                        color: #292929;
                    }
                }
            }
        }
    }
    .layer {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        background: linear-gradient(90deg, hsla(48, 78%, 82%, 1) 0%, hsla(340, 87%, 59%, 1) 100%);
        border-radius: 180px 0 0 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        transition: all 0.5s;
        &-content {
            display: none;
            &.active{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column; 
            }
        }
        &.active {
            transform: translateX(-100%);
            border-radius: 0 180px 150px 0;
            transition: all 0.5s;
        }
    }
    
}
// -- --------------end modal signin/ signup----------------- 



