@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
.section-1 {
  margin-top: 180px;
  background-color: #f2f2f2;
  margin-bottom: 20px;
}
.section-1 .breadcrumb {
  padding: 8px 12px;
  margin: 0;
}
.section-1 .breadcrumb-item a {
  color: #EA4335;
}
.section-1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.list-item-product {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.list-item-product .item {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  padding: 4px;
  margin-bottom: 12px;
  width: 350px !important;
}
@media (max-width: 1200px) {
  .list-item-product .item {
    width: 300px !important;
  }
}
@media (max-width: 768.999px) {
  .list-item-product .item {
    width: 250px !important;
  }
}
@media (max-width: 540px) {
  .list-item-product .item {
    width: 100% !important;
  }
}
.list-item-product .item img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.list-item-product .item .title {
  font-size: 14px;
  margin-left: 4px;
}
.list-item-product .item h4 {
  font-size: 20px;
  margin-left: 4px;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .list-item-product .item h4 {
    font-size: 16px;
  }
}
.list-item-product .item .box-price {
  margin-left: 4px;
}
.list-item-product .item .box-price .price-sale {
  display: inline-block;
  margin-right: 4px;
  font-size: 18px;
}
.list-item-product .item .box-price .price-basic {
  color: #666666;
  text-decoration: line-through;
  font-size: 14px;
}
.list-item-product .item .list-button {
  display: flex;
  margin-top: 4px;
}
.list-item-product .item .list-button button {
  padding: 4px 8px;
  flex: 1;
  border: 1px solid #666666;
}
.list-item-product .item .list-button button:hover {
  background-color: #EA4335;
  color: #fff;
}
.list-item-product .item .list-button .btn-cart {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-product .item .list-button .btn-cart i {
  font-size: 20px;
}
.list-item-product .item .list-button .btn-cart i:hover {
  color: #EA4335;
}

.wrapper-section {
  margin-top: 190px;
  margin-bottom: 20px;
  padding: 12px;
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
  border: 2px solid #666666;
}
.wrapper-section img {
  width: 40%;
}
.wrapper-section .box-content {
  background-color: #f3f3f3;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.wrapper-section .box-content .title {
  font-size: 20px;
  color: #666666;
  margin: 8px 0;
}
@media (max-width: 768px) {
  .wrapper-section .box-content .title {
    font-size: 14px;
  }
}
.wrapper-section .box-content .name-item {
  font-size: 36px;
}
@media (max-width: 768px) {
  .wrapper-section .box-content .name-item {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .wrapper-section .box-content input {
    width: 100px;
  }
}
.wrapper-section .box-content .btn {
  background-color: #f2f2f2;
  border: 1px solid #666666;
}
.wrapper-section .box-content .btn:hover {
  background-color: #EA4335;
  color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(16, 15, 15, 0.3);
}
.slick-arrow i {
  color: #fff;
}

.slick-next {
  right: 0;
}

.slick-prev {
  left: 0;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
@media (max-width: 760px) {
  header .header-content {
    min-height: 80px;
  }
}
header .header-content .header-logo img {
  width: 100%;
}
header .header-content .header-search {
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  height: 50px;
  overflow: hidden;
}
@media (max-width: 760px) {
  header .header-content .header-search {
    order: 3;
    height: 42px;
  }
}
header .header-content .header-search form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .header-search form input {
  outline: none;
  border: none;
  width: 70%;
  background-color: transparent;
  padding-left: 20px;
}
@media (max-width: 1120px) {
  header .header-content .header-search form input {
    font-size: 13px;
  }
}
header .header-content .header-search form button {
  width: 20%;
  background-color: #292929;
  color: #fff;
  height: 100%;
  border: none;
  outline: none;
}
header .header-content .header-search form button:hover {
  color: #EA4335;
}
header .header-content .header-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
header .header-content .header-right .icon-menu {
  margin: 0 12px;
  color: #292929;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
}
header .header-content .header-right .icon-menu i {
  color: #000;
  font-size: 20px;
}
header .header-content .header-right .icon-menu i:first-child {
  margin-right: 8px;
}
header .header-content .header-right .icon-menu span {
  position: absolute;
  top: -16px;
  right: -10px;
  background-color: #EA4335;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 8px;
}
header .header-content .header-right .icon-menu:hover {
  color: #EA4335;
  border-radius: 8px;
}
header .header-content .header-right .icon-menu:hover i {
  color: #EA4335;
}
header .header-content .had-user {
  text-transform: uppercase;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EC407A;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff !important;
  border: none;
}
header .header-content #shopping-cart {
  font-size: 20px;
  color: #292929;
  width: 320px;
}
header .header-content #shopping-cart .offcanvas-header i {
  font-size: 36px;
  padding: 20px;
  border-radius: 50%;
  border: 1px solid #010103;
  margin: 8px 8px;
}
header .header-content #shopping-cart .offcanvas-body {
  padding: 2px;
  position: relative;
}
header .header-content #shopping-cart .offcanvas-body .list-item {
  height: 400px;
  overflow: scroll;
}
header .header-content #shopping-cart .offcanvas-body .list-item .item {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #1e1e1e;
  padding: 4px 0;
}
header .header-content #shopping-cart .offcanvas-body .list-item .item p {
  margin: 0;
  font-size: 16px;
}
header .header-content #shopping-cart .offcanvas-body .list-item .item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
}
header .header-content #shopping-cart .offcanvas-body .list-item .box-content {
  flex: 1;
  margin-left: 10px;
}
header .header-content #shopping-cart .offcanvas-body .list-item .box-content .btn {
  padding: 4px 8px;
  border: none;
  outline: none;
  font-weight: 700;
}
header .header-content #shopping-cart .offcanvas-body .list-item .box-content input {
  width: 50px;
  height: 20px;
  outline: none;
  text-align: center;
  font-size: 14px;
}
header .header-content #shopping-cart .offcanvas-body .list-item .box-content .box-price {
  display: flex;
  align-items: center;
}
header .header-content #shopping-cart .offcanvas-body .list-item .box-content .box-price p {
  font-size: 14px;
  color: #000;
  margin: 0;
  margin-left: 20px;
}
header .header-content #shopping-cart .offcanvas-body .box-bottom {
  background-color: #010103;
  padding: 8px 4px;
}
header .header-content #shopping-cart .offcanvas-body .box-bottom p {
  color: #fff;
  margin: 8px 16px 12px;
  font-size: 14px;
}
header .header-content #shopping-cart .offcanvas-body .box-bottom p span {
  font-size: 18px;
  margin-left: 8px;
}
header .header-content #shopping-cart .offcanvas-body .box-bottom .btn {
  width: 100%;
  padding: 2px;
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border: 1px solid #666666;
}
header .header-content #shopping-cart .offcanvas-body .box-bottom .btn:hover {
  background-color: #EA4335;
  color: #fff;
}
header .header-content #nav-mobile {
  width: 320px;
}
header .header-content #nav-mobile .offcanvas-header .icon-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #292929;
}
header .header-content #nav-mobile .offcanvas-header .icon-user i {
  color: #292929;
}
header .header-content #nav-mobile .offcanvas-header span {
  margin-left: 32px;
  font-size: 20px;
  cursor: pointer;
}
header .header-content #nav-mobile .offcanvas-header span:hover {
  color: #EA4335;
}
header .header-content #nav-mobile .offcanvas-body {
  padding: 0;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li {
  border-bottom: 1px solid #66667A;
  padding: 12px 0;
  position: relative;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li > a {
  color: #292929;
  padding: 12px 16px;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li .menu-collapse {
  position: absolute;
  right: 30px;
  top: 3px;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li:hover {
  background-color: #EA4335;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li:hover a {
  color: #fff;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  height: 50px;
}
header .nav .menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
header .nav .menu > li {
  padding: 10px 16px;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}
header .nav .menu > li a {
  color: #fff;
}
header .nav .menu > li .subnav {
  position: absolute;
  top: 50px;
  left: -10px;
  background-color: #000;
  display: none;
}
header .nav .menu > li .subnav li {
  min-width: 140px;
  padding: 8px 12px;
}
header .nav .menu > li .subnav li:hover {
  background-color: #EA4335;
}
header .nav .menu > li:hover {
  border-bottom: 3px solid #EA4335;
}
header .nav .menu > li:hover > a {
  color: #FCA120;
}
header .nav .menu > li:hover > .subnav {
  display: block;
}
header .nav .menu > li.active {
  background-color: #B69B6D;
}

.slider {
  margin-top: 185px;
  width: 100%;
  height: 442px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .slider {
    margin-top: 165px;
  }
}
@media (max-width: 992px) {
  .slider {
    margin-top: 90px;
  }
}
@media (max-width: 776px) {
  .slider {
    margin-top: 150px;
  }
}
@media (max-width: 540px) {
  .slider {
    height: 160px;
  }
}
.slider .image {
  height: 100%;
}
.slider .image img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1224/442;
}

.section-element-support {
  margin-top: 40px;
}
.section-element-support .list-item {
  display: flex;
  flex-wrap: wrap;
}
.section-element-support .list-item .item {
  text-align: center;
  padding: 8px;
}
@media (max-width: 768.999px) {
  .section-element-support .list-item .item {
    padding: 4px 36px;
  }
}
.section-element-support .list-item .item .box-content {
  padding-top: 12px;
}

.flash-sale {
  background-color: #f7f4f4;
  margin-bottom: 40px;
}
.flash-sale .sale-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.flash-sale .sale-head .head-left {
  display: flex;
  width: 40%;
  justify-content: center;
}
.flash-sale .sale-head .head-right {
  display: flex;
  width: 50%;
  justify-content: space-between;
}
.flash-sale .sale-head .head-right .label-countdown {
  width: 40%;
  text-align: center;
}
.flash-sale .sale-head .head-right .label-countdown p {
  margin-bottom: 2px;
}
.flash-sale .sale-head .head-right .label-countdown span {
  font-weight: 700;
}
.flash-sale .sale-head .head-right .time-countdown {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}
.flash-sale .sale-head .head-right .time-countdown .item {
  width: 20%;
  background-color: #FCA120;
  font-size: 36px;
  line-height: 0.6;
  padding: 14px 8px;
  text-align: center;
}
.flash-sale .sale-head .head-right .time-countdown .item p {
  margin-bottom: 0;
  font-size: 36px;
}
.flash-sale .sale-head .head-right .time-countdown .item span {
  font-size: 14px;
  margin-top: -20px;
}
@media (max-width: 992px) {
  .flash-sale .sale-head {
    flex-direction: column;
    justify-content: center;
  }
  .flash-sale .sale-head .head-left {
    width: 100%;
  }
  .flash-sale .sale-head .head-right {
    width: 100%;
  }
}
.flash-sale .sale-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  background-color: #1e1e1e;
  border-radius: 50px;
  margin-bottom: 20px;
}
.flash-sale .sale-nav .item {
  cursor: pointer;
}
.flash-sale .sale-nav .item p {
  color: #fff;
  margin-bottom: 8px;
  padding: 4px;
}
.flash-sale .sale-nav .item p:first-child {
  font-size: 32px;
}
.flash-sale .sale-nav .item.active {
  background-color: #FCA120;
  border-radius: 50px;
}
.flash-sale .sale-nav .item span {
  color: #fff;
}
@media (max-width: 768px) {
  .flash-sale .sale-nav {
    border-radius: 0;
  }
  .flash-sale .sale-nav .item p {
    font-size: 14px;
    margin: 0 4px;
  }
  .flash-sale .sale-nav .item p:first-child {
    font-size: 20px;
  }
  .flash-sale .sale-nav .item.active {
    border-radius: 0;
  }
  .flash-sale .sale-nav .item span {
    line-height: 0.4;
  }
}
.flash-sale .list-item {
  background-color: #B69B6D;
  padding: 10px;
}
.flash-sale .list-item .slick-arrow {
  margin: 0 8px;
}
.flash-sale .list-item .item {
  background-color: #F2F2F2;
  border: 1px solid #666666;
  padding: 4px;
  width: 350px !important;
}
@media (max-width: 1200px) {
  .flash-sale .list-item .item {
    width: 300px !important;
  }
}
@media (max-width: 768.999px) {
  .flash-sale .list-item .item {
    width: 250px !important;
  }
}
@media (max-width: 540px) {
  .flash-sale .list-item .item {
    width: 100% !important;
  }
}
.flash-sale .list-item .item img {
  width: 100%;
  height: 100%;
}
.flash-sale .list-item .item .title {
  font-size: 14px;
  margin-left: 4px;
}
.flash-sale .list-item .item h4 {
  font-size: 20px;
  margin-left: 4px;
  margin-bottom: 4px;
}
@media (max-width: 768px) {
  .flash-sale .list-item .item h4 {
    font-size: 16px;
  }
}
.flash-sale .list-item .item .box-price {
  margin-left: 4px;
}
.flash-sale .list-item .item .box-price .price-sale {
  display: inline-block;
  margin-right: 4px;
  font-size: 18px;
}
.flash-sale .list-item .item .box-price .price-basic {
  color: #666666;
  text-decoration: line-through;
  font-size: 14px;
}
.flash-sale .list-item .item .list-button {
  display: flex;
  margin-top: 4px;
}
.flash-sale .list-item .item .list-button button {
  padding: 4px 8px;
  flex: 1;
  border: 1px solid #666666;
}
.flash-sale .list-item .item .list-button button:hover {
  background-color: #EA4335;
  color: #fff;
}
.flash-sale .list-item .item .list-button .btn-cart {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flash-sale .list-item .item .list-button .btn-cart i {
  font-size: 20px;
}
.flash-sale .list-item .item .list-button .btn-cart i:hover {
  color: #EA4335;
}

footer {
  background-color: #010103;
}
footer .list-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 24px;
}
footer .list-items .item h4 {
  color: #F3F3F3;
  font-size: 20px;
}
footer .list-items .item .social-icons {
  display: flex;
  padding: 0;
}
footer .list-items .item .social-icons li {
  padding: 8px;
  margin-right: 20px;
}
footer .list-items .item .social-icons li i {
  font-size: 20px;
  color: #666666;
}
footer .list-items .item .box-content p {
  font-size: 12px;
  color: #666666;
  margin-bottom: 8px;
  padding-right: 28px;
}
footer .list-items .item .box-content p:first-child {
  font-weight: 800;
  font-size: 14px;
  margin: 2px;
}
footer .list-items .item ul li {
  transition: 0.5s;
}
footer .list-items .item ul li a {
  color: #666666;
  padding: 10px 0;
  margin-bottom: 12px;
}
footer .list-items .item ul li:hover {
  transform: translateX(24px);
  transition: 0.5s;
}
footer .list-items .item ul li:hover a {
  color: #EA4335;
}
footer .list-items .item form {
  margin-bottom: 12px;
}
footer .list-items .item form p {
  color: #666666;
}
footer .list-items .item form .input {
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
  border-radius: 4px;
  overflow: hidden;
}
footer .list-items .item form .input input {
  flex: 1;
  border: none;
  outline: none;
  background-color: #F3F3F3;
  padding: 8px 0 8px 4px;
}
footer .list-items .item form .input button {
  width: 30%;
  font-size: 14px;
  font-weight: 700;
  border: none;
  outline: none;
  background-color: #FCA120;
  padding: 8px 10px;
}
@media (max-width: 1200px) {
  footer .list-items .item form .input input {
    font-size: 14px;
  }
}
footer .list-items .item .payment {
  display: flex;
  pointer-events: none;
}
footer .list-items .item .payment li {
  width: 80px;
  margin-right: 20px;
}
footer .list-items .item .payment li img {
  width: 100%;
  height: 100%;
}
@media ((min-width: 576px) and (max-width: 992px)) {
  footer .list-items .item:nth-child(4) {
    order: 2;
  }
  footer .list-items .item:nth-child(2) {
    margin-top: 20px;
    order: 3;
  }
  footer .list-items .item:nth-child(3) {
    margin-top: 20px;
    order: 4;
  }
}
footer .copy-right {
  text-align: center;
  font-size: 12px;
  background-color: #B69B6D;
  padding: 10px;
}
footer .copy-right a {
  text-decoration: underline;
  color: #010103;
}
footer .copy-right p {
  margin-bottom: 4px;
}

#modal-1 .modal-dialog {
  border-radius: 8px;
}
#modal-1 .btn {
  padding: 10px 45px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 600;
  border: 1px solid;
  font-size: 12px;
  border-radius: 8px;
}
#modal-1 .btn:hover {
  background-color: #EA4335;
  color: #F2F2F2;
}
#modal-1 a {
  color: #EA4335;
}
#modal-1 .modal-content {
  overflow: hidden;
  border-radius: 30px;
}
#modal-1 .modal-content .btn-close {
  background-color: red;
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 8px;
  z-index: 1;
}
#modal-1 .form-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
@media (max-width: 992px) {
  #modal-1 .form-wrapper .form-container {
    color: #292929;
  }
  #modal-1 .form-wrapper .form-container form .form-floating label {
    color: #292929;
  }
}
#modal-1 .form-container {
  transition: 0.3s;
}
#modal-1 .form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#modal-1 .form-container form .form-floating {
  margin: 4px 0;
  width: 100%;
}
#modal-1 .form-container form .form-floating .form-control {
  width: 100%;
}
#modal-1 .form-container .network-wrapper {
  display: flex;
  margin: 40px 0;
}
#modal-1 .form-container .network-wrapper p {
  font-size: 14px;
}
#modal-1 .form-container .network-wrapper .social-icons {
  margin-left: 20px;
}
#modal-1 .form-container .network-wrapper .social-icons a {
  padding: 10px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid;
}
#modal-1 .form-container {
  color: transparent;
}
#modal-1 .form-container form .form-floating label {
  color: transparent;
}
#modal-1 .form-container form .form-floating label:focus {
  font-size: 10px;
}
#modal-1 .form-container form .form-floating span {
  font-size: 14px;
  padding-left: 12px;
  color: #EA4335;
}
#modal-1 .form-container.active {
  color: #292929;
}
#modal-1 .form-container.active form .form-floating label {
  color: #292929;
}
#modal-1 .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(90deg, hsl(48, 78%, 82%) 0%, hsl(340, 87%, 59%) 100%);
  border-radius: 180px 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  transition: all 0.5s;
}
#modal-1 .layer-content {
  display: none;
}
#modal-1 .layer-content.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#modal-1 .layer.active {
  transform: translateX(-100%);
  border-radius: 0 180px 150px 0;
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
