@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Pacifico&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter Tight", sans-serif;
  background-color: #F3F3F3;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

.btn {
  padding: 10px 45px;
  text-transform: uppercase;
  margin-top: 10px;
  font-weight: 600;
  border: 1px solid;
  font-size: 12px;
  border-radius: 8px;
}

header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
header .header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}
@media (max-width: 760px) {
  header .header-content {
    min-height: 80px;
  }
}
header .header-content .header-logo img {
  width: 100%;
}
header .header-content .header-search {
  border: 2px solid #F2F2F2;
  border-radius: 40px;
  height: 50px;
  overflow: hidden;
}
@media (max-width: 760px) {
  header .header-content .header-search {
    order: 3;
    height: 42px;
  }
}
header .header-content .header-search form {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-content .header-search form input {
  outline: none;
  border: none;
  width: 70%;
  background-color: transparent;
  padding-left: 20px;
}
@media (max-width: 1120px) {
  header .header-content .header-search form input {
    font-size: 13px;
  }
}
header .header-content .header-search form button {
  width: 20%;
  background-color: #292929;
  color: #fff;
  height: 100%;
  border: none;
  outline: none;
}
header .header-content .header-search form button:hover {
  color: #EA4335;
}
header .header-content .header-right {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
header .header-content .header-right .icon-menu {
  margin: 0 12px;
  color: #292929;
  padding: 4px 8px;
  position: relative;
  cursor: pointer;
}
header .header-content .header-right .icon-menu i {
  color: #000;
  font-size: 20px;
}
header .header-content .header-right .icon-menu i:first-child {
  margin-right: 8px;
}
header .header-content .header-right .icon-menu span {
  position: absolute;
  top: -16px;
  right: -10px;
  background-color: #EA4335;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50%;
  font-size: 8px;
}
header .header-content .header-right .icon-menu:hover {
  color: #EA4335;
  border-radius: 8px;
}
header .header-content .header-right .icon-menu:hover i {
  color: #EA4335;
}
header .header-content .had-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EC407A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  border: none;
}
header .header-content #nav-mobile {
  width: 320px;
}
header .header-content #nav-mobile .offcanvas-header .icon-user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border: 1px solid #292929;
}
header .header-content #nav-mobile .offcanvas-header .icon-user i {
  color: #292929;
}
header .header-content #nav-mobile .offcanvas-header span {
  margin-left: 32px;
  font-size: 20px;
  cursor: pointer;
}
header .header-content #nav-mobile .offcanvas-header span:hover {
  color: #EA4335;
}
header .header-content #nav-mobile .offcanvas-body {
  padding: 0;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li {
  border-bottom: 1px solid #66667A;
  padding: 12px 0;
  position: relative;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li > a {
  color: #292929;
  padding: 12px 16px;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li .menu-collapse {
  position: absolute;
  right: 30px;
  top: 3px;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li:hover {
  background-color: #EA4335;
}
header .header-content #nav-mobile .offcanvas-body .offcanvas-menu li:hover a {
  color: #fff;
}
header .nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
  height: 50px;
}
header .nav .menu {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
header .nav .menu li {
  padding: 10px 16px;
  height: 50px;
  display: flex;
  align-items: center;
}
header .nav .menu li a {
  color: #fff;
}
header .nav .menu li:hover {
  border-bottom: 3px solid #EA4335;
}
header .nav .menu li:hover a {
  color: #FCA120;
}
header .nav .menu li.active {
  background-color: #B69B6D;
}

.slider {
  margin-top: 185px;
  width: 100%;
  max-height: 442px;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .slider {
    margin-top: 165px;
  }
}
@media (max-width: 992px) {
  .slider {
    margin-top: 90px;
  }
}
@media (max-width: 776px) {
  .slider {
    margin-top: 120px;
  }
}
.slider .image {
  height: 100%;
}
.slider .image img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1224/442;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 1;
  width: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(16, 15, 15, 0.3);
}
.slider .slick-arrow i {
  color: #fff;
}
.slider .slick-next {
  right: 0;
}
.slider .slick-prev {
  left: 0;
}

.section-element-support {
  margin-top: 40px;
}
.section-element-support .list-item {
  display: flex;
  flex-wrap: wrap;
}
.section-element-support .list-item .item {
  text-align: center;
  padding: 8px;
}
@media (max-width: 768.999px) {
  .section-element-support .list-item .item {
    padding: 4px 36px;
  }
}
.section-element-support .list-item .item .box-content {
  padding-top: 12px;
}

footer {
  background-color: #010103;
}
footer .list-items {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}
footer .list-items .item h4 {
  color: #F3F3F3;
  font-size: 20px;
}
footer .list-items .item .social-icons {
  display: flex;
  padding: 0;
}
footer .list-items .item .social-icons li {
  padding: 8px;
  margin-right: 20px;
}
footer .list-items .item .social-icons li i {
  font-size: 20px;
  color: #666666;
}
footer .list-items .item .box-content p {
  font-size: 12px;
  color: #666666;
  margin-bottom: 8px;
  padding-right: 28px;
}
footer .list-items .item .box-content p:first-child {
  font-weight: 800;
  font-size: 14px;
  margin: 2px;
}
footer .list-items .item ul li a {
  color: #666666;
  padding: 10px 0;
  margin-bottom: 12px;
}
footer .list-items .item form p {
  color: #666666;
}
footer .list-items .item form .input {
  background-color: #F3F3F3;
  display: flex;
  justify-content: space-between;
}
footer .list-items .item form .input input {
  border: none;
  outline: none;
  background-color: #F3F3F3;
  padding: 12px 4px;
}
footer .list-items .item form .input button {
  border: none;
  outline: none;
  background-color: #FCA120;
  padding: 12px 4px;
}

.modal-1 .modal-dialog {
  border-radius: 8px;
}
.modal-1 .modal-content {
  overflow: hidden;
  border-radius: 30px;
}
.modal-1 .modal-content .btn-close {
  background-color: red;
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}
.modal-1 .form-wrapper {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.modal-1 .form-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-1 .form-container form .form-floating {
  margin: 8px 0;
  width: 100%;
}
.modal-1 .form-container form .form-floating .form-control {
  width: 100%;
}
.modal-1 .form-container .network-wrapper {
  display: flex;
  margin: 40px 0;
}
.modal-1 .form-container .network-wrapper p {
  font-size: 14px;
}
.modal-1 .form-container .network-wrapper .social-icons {
  margin-left: 20px;
}
.modal-1 .form-container .network-wrapper .social-icons a {
  padding: 10px;
  margin-right: 8px;
  border-radius: 8px;
  border: 1px solid;
}
.modal-1 .form-container {
  color: transparent;
}
.modal-1 .form-container form .form-floating label {
  color: transparent;
}
.modal-1 .form-container form .form-floating label:focus {
  font-size: 10px;
}
.modal-1 .form-container.active {
  color: #292929;
}
.modal-1 .form-container.active form .form-floating label {
  color: #292929;
}
.modal-1 .layer {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: aqua;
  border-radius: 180px 0 0 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 40px;
  transition: all 0.5s;
}
.modal-1 .layer-content {
  display: none;
}
.modal-1 .layer-content.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-1 .layer.active {
  transform: translateX(-100%);
  border-radius: 0 180px 150px 0;
  transition: all 0.5s;
}

/*# sourceMappingURL=style.css.map */
